<div class="my-app">
    <div class=" header">
        <span class="pull-left brand header-buttons" onclick="window.location.reload()">Klockan</span>
        <div class="pull-right header-buttons">
            <span class="glyphicon glyphicon-user" aria-hidden="true" ng-click="changeUsername()"></span>
            <a href="#" style="cursor:pointer" ng-click="showHighscore();">
                <img class="header-score-img" src="images/65302_cup_highscore_medal_prize_scores_trophy_128.png">
            </a>
        </div>
        <div class="username">{{username}}</div>
        
    </div>
    <div>
        <div class="wrap" >
            <number-dir n="0"></number-dir>
            <number-dir n="-1">Ångra</number-dir>
            <div></div>
            <number-dir ng-repeat="n in range(1,20)" n="n"></number-dir>
        </div>

        <div class="" style="text-align:center;cursor:pointer" ng-click="toggleVisible()">
            <span class="numbers" id="arrows">
                <span ng-show="visible" >{{arrows}}</span>
                <img style="height: 7vw;" ng-show="!visible" ng-src="images/1475541454_visibility-off.png"><img>
                <img src="images/62_-_Darts_sport_game_play-128.png" width="35"></img>
            </span>
        </div>
    </div>
</div>
