
<div class="square" ng-click="select(n)" ng-class="{selected:selected&&n!=0, zero:n=='0'}">
    <!--<div ng-click="select(n)" ng-class="{selected:selected}">
    <span>{{n}}</span>
</div>-->

    <div class="content">
        <div class="mytable">
            <div class="table-cell ">
                    <span ng-if="n!=0" class="points numbers" id="points-{{n}}">{{n}}</span>
                    <span ng-if="n==0" class="points numbers" id="points-{{n}}">Missade</span>
            </div>
        </div>
    </div>
</div>